<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/style.css">
    <script src="../../modules/handy.js"></script>
</head>
<body background="#070f2b">
    <!-- group: Header -->
<div class="group header-3e68a9203df5">
    <!-- path: Rectangle -->
    <div class="shape path rectangle-3e45b380319e">
      <svg width="1844" xmlns="http://www.w3.org/2000/svg" height="55" id="screenshot-221fe15c-f98f-80d1-8005-3e45b380319e" viewBox="480 255 1844 55" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-221fe15c-f98f-80d1-8005-3e45b380319e" style="opacity:0.7">
          <defs></defs>
          <g class="fills" id="fills-221fe15c-f98f-80d1-8005-3e45b380319e">
            <path d="M480.000,265.000C480.000,259.481,484.481,255.000,490.000,255.000L2314.000,255.000C2319.519,255.000,2324.000,259.481,2324.000,265.000L2324.000,300.000C2324.000,305.519,2319.519,310.000,2314.000,310.000L2289.782,310.000L490.000,310.000C484.481,310.000,480.000,305.519,480.000,300.000L480.000,265.000Z" style="fill:#e03131;fill-opacity:1"></path>
          </g>
        </g>
      </svg>
    </div>
    <!-- bool: Hamburger -->
    <div class="shape bool hamburger-3e4a24ff56cc" id="hamburger-but" role="button">
      <svg width="44" xmlns="http://www.w3.org/2000/svg" height="28" id="screenshot-221fe15c-f98f-80d1-8005-3e4a24ff56cc" viewBox="2270 272 44 28" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-221fe15c-f98f-80d1-8005-3e4a24ff56cc">
          <defs></defs>
          <g class="fills" id="fills-221fe15c-f98f-80d1-8005-3e4a24ff56cc">
            <path d="M2273.000,286.000L2311.000,286.000L2273.000,286.000ZM2273.000,275.000L2311.000,275.000L2273.000,275.000ZM2273.000,297.000L2311.000,297.000L2273.000,297.000Z" style="fill:#f03e3e;fill-opacity:1"></path>
          </g>
          <g id="strokes-221fe15c-f98f-80d1-8005-3e4a24ff56cc" class="strokes">
            <g class="stroke-shape">
              <defs></defs>
              <path d="M2273.000,286.000L2311.000,286.000L2273.000,286.000ZM2273.000,275.000L2311.000,275.000L2273.000,275.000ZM2273.000,297.000L2311.000,297.000L2273.000,297.000Z" style="fill:none;fill-opacity:none;stroke-width:3;stroke:#c92a2a;stroke-opacity:1"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <!-- text: dauerndambauen.de -->
    <div class="shape text dauerndamb-3e6596a5c0ca">
      <div class="text-node-html" id="html-text-node-61835b09-d807-803a-8005-3e6596a5c0ca" data-x="552" data-y="263">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 245, 245, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:30px;text-rendering:geometricPrecision;caret-color:rgba(255, 245, 245, 1);text-decoration:none;--font-id:gfont-ibm-plex-mono;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#fff5f5&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~ue17d7d2b-786e-80de-8002-89358bfdd198&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u8035d78c-bff2-81ab-8005-3d3937760e60&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;IBM Plex Mono&quot;;font-style:normal;font-weight:400">dauerndambauen.de</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- rect: logo-mit-segelboot -->
    <div class="shape rect logomits-3e4643babd43">
    </div>

  </div>
  <div id="hamburger-menu">
      <b>Services: </b><p><a href="https://cloud.dauerndambauen.de" style="color: #FFF5F5;">Cloud</a></p>
  </div>
</body>
<script type="module" src="/components/header/handy.js"></script>
</html>