<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/style.css">
</head>
<body background="#070f2b">
    <div id="headerfile">
        <a href="https://www.dauerndambauen.de"><img src="/assets/images/logo-mit-segelboot.png" width=50% alt="dauerndambauen Logo"></a>
        <div style="margin-left: -50px;">
            <a href="https://cloud.dauerndambauen.de"><button class="header-button"><h2>Cloud</h2></button></a>
            <a href="https://file.dauerndambauen.de"><button class="header-button"><h2>File Browser</h2></button></a>
            <a href="https://proxy.dauerndambauen.de"><button class="header-button"><h2>Proxy</h2></button></a>
            <a href="https://portainer.dauerndambauen.de"><button class="header-button"><h2>Portainer</h2></button></a>
        </div>
    </div>
    <div id="spaceholder" style="height: 160px; color: #070f2b00;"></div>
</body>
<script type="module" src="/components/header/handy.js"></script>
</html>