<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/style.css">
</head>
<body background="#070f2b">
    <div id="headerfile">
        <a href="https://www.dauerndambauen.de"><img src="/assets/images/303113_a logo for an nextcloud cloud instance with a tree_xl-1024-v1-0.png" width=100% alt="dauerndambauen Logo"></a>
        <h1>Welcome on dauerndambauen</h1>
        <div></div>
        <div class="links">
            <a href="https://cloud.dauerndambauen.de"><button class="header-button">Cloud</button></a>
            <a href="https://file.dauerndambauen.de"><button class="header-button">File Browser</button></a>
            <a href="https://proxy.dauerndambauen.de"><button class="header-button">Proxy</button></a>
            <a href="https://portainer.dauerndambauen.de"><button class="header-button">Portainer</button></a>
        </div>
    </div>
    <div id="spaceholder" style="height: 160px; color: #070f2b00;"></div>
</body>
<script type="module" src="/components/header/handy.js"></script>
</html>