.main{
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
}


.header{
    display: grid;
    grid-template-columns: 102px auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    padding: 10px;
    background-color: #1B1A55;
    border-radius: 10px;
    color: white;
    position: fixed;
    margin-left: 20px;
}

.header-links{
    display: grid;
    grid-template-columns: 45px 91px 45px 65px;
    grid-column-gap: 10px;
    color: white;
}

.header-button{
    background-color: #1B1A55;
    color: white;
    border: 2px solid #535C91;
    transition-duration: 0.5s;
    border-radius: 40px;
}

.header-button:hover{
    background-color: #535C91;
    color: white;
}

.main-block{
    background-color: #535C91;
    border-radius: 10px;
    color: white;
}

.main-button{
    background-color: #535C91;
    color: white;
    border: 2px solid #9290C3;
    transition-duration: 0.5s;
    border-radius: 20px;
    font-size: large;
}

.main-button:hover{
    background-color: #9290C3;
}


.footer-main{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1B1A55;
    border-radius: 10px;
    padding: 10px;
    grid-column-gap: 10px;
    color: white;
}

.footer-left{
    grid-template-rows: auto auto;
    color: white;
}