<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webspaces/schule/Wissenschaftswoche/components/frage1/style.css">
</head>
<body>
    <div>
        <h1 class="txt">Frage 1:</h1><p><h2 class="txt">Unterschiede zwischem Regionalem und Globalen Klimamodellen</h2></p>
    </div>
    <div class="main-div">
        <div class="main-procon txt" style="max-width: 500px;">
            <h2>Was sind überhaupt Klimamodelle?</h2><p></p>
                <h3>Klimamodelle beschreiben das Erdklimasystem zu beschreiben und dessen physikalischen, chemischen und biologischen Vorgängen zu zeigen. Dadurch können vergangene, zukünftige und aktuelle klimatische Bedingungen simuliert werden.
                <li style="margin-left: 20px;">Quelle: <a href="https://klimainformationssystem.bayern.de/grundlagen/glossar/klimamodelle" style="color: white;">Klimainformationssystem Bayern</a></h3></li>
        </div>
        <div id="main-RCM" class="main-procon txt" style="max-width: 500px;">
            <h2>Regionale Klimamodelle</h2><p>
                <h3 style="padding: 20px;"><li>auch Regional Climate Models (kurz RCM) gennant</li>
                <li>Kleinerer Raum z.B. Länder, Regionen</li>
                <li>dadurch genauere Vorhersagen und Modelle für diesen Bereich</li>
            <li>Quelle: <a href="https://klimainformationssystem.bayern.de/grundlagen/glossar/klimamodelle" style="color: white;">Klimainformationssystem Bayern</a></li></h3></p>
        </div>
        <div class="main-procon txt" style="max-width: 590px">
            <h2>Globale Klimamodelle</h2>
            <h3 style="padding: 20px;"><li>auch Global Climate Models (kurz GCM) gennant</li>
            <li>Der ganze Globus wird davon Abgedeckt</li>
            <li>dadurch ist das Model allgemeiner und ungenauer als RCMs.</li>
            <li>es können nur sehr schlechte Vorhersagen für kleinere Bereiche gemacht werden</li>
            <li>Quelle: <a href="https://klimainformationssystem.bayern.de/grundlagen/glossar/klimamodelle" style="color: white;">Klimainformationssystem Bayern</a></li></h3>
        </div>
        <div class="main-procon txt" style="width: 500px;"><img src="/webspaces/schule/Wissenschaftswoche/assets/images/GCM-RCM.png" width="100%">Quelle: <a class="txt" href="https://lh3.googleusercontent.com/proxy/nd_CXiAhvU3ZUocrNaelHe3aiKKVEG5khuRO9JxjHUGRdWmJMrK98YZvx1gFZRW8zUaCBnshXsPD82rbll1Q5jkIzclj-dRVU1hgnrMJ31iXJqyU3iSC0dPcA39VCQ">Bild aufgerufen am 09.07.2024 um 09:37</a></div>
    </div>
</body>
</html>