<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/frage3/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="divDevRe txt">
            <div style="max-width:50%;">
                <h2>Gründe Entwicklungen:</h2>
                <p><h3>Die Klimapolitik ist entscheidend für die Entwicklung des Klimas in der Zukunft. Für eine Eindämmung des Klimawandels sind Maßnahmen, die den CO2- und Methanausstoß verringern essenziell. Damit diese Maßnahmen von der Politik beschlossen werden, muss das Bewusstsein für die Gefahren, die vom Klimawandel ausgehen, gestärkt werden und von Bürgern mehr angesprochen werden. 
                Die Wichtigkeit des Klimawandels in der Politik ist im Vergleich zu den vorherigen Jahren im Jahr 2024 stark zurückgegangen. Auch der momentane Rechtsruck in Europa trägt der Bekämpfung des Klimawandels nicht bei, da meist der Klimaschutz bei konservativeren Parteien zweitrangig ist.
                Der Fortschritt in der Forschung rund um den Themenbereich der klimaneutralen Energien, ist ein weiterer Aspekt, der die Entwicklung des Klimas in Zukunft beeinflusst wird.
                Wenn künftig billige Alternativen zu fossilen Energieträgern, wie Wind, Solar oder auch Fusionsenergie, verfügbar werden, wird dies immens zur Verringerung der Co2-Emissionen beitragen, da fossile durch klimaneutrale Kraftwerke ersetzt werden können.
                </h3></p>
            </div>
            <div><img src="/assets/images/q3-statisitic-entwicklung.png" width="600px" class="img"><p>Umfrage: Wichtigste Probleme in Deutschland</p>
                Bildquelle: <a href="https://de.statista.com/statistik/daten/studie/1062780/umfrage/umfrage-zu-den-wichtigsten-problemen-in-deutschland/" class="txt">Statista Aufgerufen am 09.07.2024 um 10:30 Uhr</a>
            </div>
            <div style="max-width: 600px;">
                <h2>Ökologische und ökonomische Auswirkungen des Klimawandels:</h2><p></p>
                <h3>Durch den Klimawandel wird Starkregen in Deutschland immer wahrscheinlicher. Durch die davon ausgelösten Überschwemmungen entstehen Schäden in Millionenhöhe. Dadurch wird Deutschland als Standort für Wohngebäude oder Fabriken für Investoren unattraktiver.
                    Die höheren Temperaturen könnten für einen Rückgang des Tourismus in Deutschland sorgen, da Naturräume wie z.B. der Bayerische Wald durch Düren und Hitze zerstört werden. Außerdem schmelzen die Gletscher in den Alpen ab, wodurch ein auch ein Teil der Besucher fernbleiben werden.
                    Außerdem wird die Landwirtschaft durch die langen und starken Dürrephasen immer unprofitabler, da Großteile der Erträge durch Strahlungsschäden und Wassermangel zerstört werden.
                    Dies gilt auch für die Forstwirtschaft. Häufige Stürme und Dürren stören das Waldwachstum. Zusätzlich steigt die Frequenz des Auftretens von Schädlingsplagen und Waldbrände durch die höhere Temperatur an.
                    </h3>
            </div>
            <div>
                <img src="/assets/images/2400x1350-Parteivergleich-Europa-20240610055320.webp" style="max-height: 400px;" class="img"><p>Bildquelle: <a href="https://imgs.search.brave.com/exFyVuZ5cG4uhznK8RRLjNC79SKIBTn7MciVcYGsCW0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWhs/dG9vbC56ZGYuZGUv/MjAyNC0wNi0wOS1F/UC1ERS9fc2xpZGVz/aG93L2h0bWwvMjQw/MHgxMzUwLVBhcnRl/aXZlcmdsZWljaC1F/dXJvcGEtMjAyNDA2/MTAwNTUzMjAuanBn" class="txt">ZDF aufgerufen am 09.07.2024 um 11:38</a></p>
            </div>
        </div>
    </div>
</body>
</html>