<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webspaces/schule/Wissenschaftswoche/components/footer/style.css">
</head>
<body>
    <div id="footer-divB">
        <a href="https://www.dauerndambauen.de" style="color: white; padding: 3px;">www.dauerndambauen.de</a>
        <div>(c) Webseite Ludwig Häußler</div>
        <div style="color: darkgray;">alpha V-0.2</div>
        <div>(c) Inhalt Felix Burgthaler, Fabian Kitzmüller, Ludwig Häußler</div>
    </div>
</body>
</html>