<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webspaces/schule/Wissenschaftswoche/components/frage3-stat/style.css">
    <title>Document</title>
</head>
<body>
    <h2 class="txt">Mittlerer Temperaturanstieg</h2>
    <div class="stat-q3-main txt">
        <div><h3>Referenzperiode:</h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/tempTableNow.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 8.5 (Keine Klimaschutzmaßnahmen):</h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/tempTableNoChange.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 2.6 (Stabilisierende CO2-Konzentration):</h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/tempTableStable.svg" class="img"></div>
    </div>
    <h2 style="margin-top: 50px;" class="txt">Mittlerer Niederschlaganstieg:</h2>
    <div class="stat-q3-main txt">
        <div><h3>Referenzperiode:</h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/rainTableNow.svg" class="img" style="margin-top: 25px;"></div>
        <div><h3>RCP 8.5 (Keine Klimaschutzmaßnahmen):</h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/rainTableNoChange.svg"class="img" style="margin-top: 25px;" ></div>
        <div><h3>RCP 2.6 (Stabilisierende CO2-Konzentration): </h3><img src="/webspaces/schule/Wissenschaftswoche/assets/images/RainTableStable.svg"class="img"></div>
    </div>
    <h3 class="txt">Quelle: <a href="https://klimainformationssystem.bayern.de/klimatool/klima-der-zukunft" style="color: white;">Klimainformationssystem Bayern - Klimatool der Zukunft (aufgerufen am 09.07.2024 um 12:00)</a></h3>
    <h1>Erklärung:</h1>
    <div class="stat-q3-main txt">
        <div style="max-width: 460px;" class="txt"><img src="/webspaces/schule/Wissenschaftswoche/assets/images/extrem-wetter-mehr.png" class="img" > <h3>Bildquelle: <a href="https://q-images.nzz.ch/2023/08/07/mw-05abebc833b1bde4c70cc061b7046d2b.png?width=365&format=png" style="color: white;">NZZ (aufgerufen am 10.07.2024 um 10:54)</a></h3></div>
    <div style="color: white; max-width: 800px;"> <h3>Dadurch kann gezeigt werden, dass durch die Zunahme der Temperatur die Zahl der Extremwetterereignisse stark zunehmen kann. Dies kann durch die Zunahme der Temperatur und der zunehmenden Unberechenbarkeit des Niederschlags begründen werden. Besonders gut sichtbar in der Glockengrafik rechts von / über diesem Text.</h3></div>
</div>
<div style="border-radius: 20px;"><iframe src='https://geoportal.bayern.de/bayernatlas/embed.html?lang=de&topic=ba&bgLayer=atkis&catalogNodes=11&E=827186.98&N=5388673.80&zoom=9&layers=luftbild,KML%7C%7Chttps:%2F%2Fgeoportal.bayern.de%2Fba-backend%2Ffiles%2Ff_5448e600-3e89-11ef-8444-39b50ba36a16_30db9021-6912-41f1-836c-3d4f0f9fcc5c%7C%7Ctrue' width='100%' height='600' frameborder='0' style='border:0'></iframe>
    <table>
        <tr>
            <th>Legende</th>
        </tr>
        <tr>
            <td>Schwarz</td>
            <td>Fußgängerzone / Verkehrsänderungen</td>
        </tr>
        <tr>
            <td>Grün</td>
            <td>Bepflanzung</td>
        </tr>
        <tr>
            <td>Blau</td>
            <td>Wasserbaulichemaßnahmen</td>
        </tr>
        <tr>
            <td>Gelb</td>
            <td>Erneuerbare Energie</td>
        </tr>
        <tr>
            <td>Lila</td>
            <td>Neue Dächer</td>
        </tr>
    </table>
</div>
    
</body>
</html>