<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/main/style.css">
</head>
<body>
    <div class="main-block">
        <h1>Contact</h1><p></p>
        <div class="contact-sort">
            <a href="https://matrix.to/#/!yDENVHPXnpPiDiHNWn:tchncs.de?via=tchncs.de" style="width: 180px;"><button class="main-button">Matrixraum beitreten</button></a>
            <a href="mailto:dauerndambauen@gmail.com"><button class="main-button" style="width: 70px;">e-m@il</button></a>
            <a href="https://github.com/DauerndamProgrammieren"><button class="main-button" style="width: 65px;">Github</button></a>
            <a href="https://github.com/DauerndamProgrammieren/dauerndambauenWeb/issues" style="width: 180px;"><button class="main-button">Github Issues</button></a>
        </div>
    </div>
</body>
</html>