<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/data/303113_a logo for an nextcloud cloud instance with a tree_xl-1024-v1-0.png">^
    <link rel="stylesheet" href="/components/main/style.css">
    <title>Datenschutzerklärung - www.dauerndambauen.de</title>
</head>
    <main>
        <div class="main-block">
            <div style="padding: 20px;">
            <h2>Privacy policy</h2>
            On www.dauerndambauen.de no user data is collected or stored. On subdomains of this, the data protection declarations of the subdomain or those of the software used apply. These would be:
            <p>
                <table>
                    <tr><th>Page:</th><th>Software used:</th></tr>
                    <tr><th><a href="https://cloud.dauerndambauen.de">cloud.dauerndambauen.de</a></th><th><a href="https://nextcloud.com">Nextcloud</a></th></tr>
                    <tr><th><a href="https://portainer.dauerndambauen.de">portainer.dauerndambauen.de</a></th><th><a href="https://www.portainer.io">Portainer</a></th></tr>
                    <tr><th><a href="https://proxy.dauerndambauen.de">proxy.dauerndambauen.de</a></th><th><a href="https://nginxproxymanager.com/">Nginx Proxy Manager</a></th></tr>
                    <tr><th><a href="https://file.dauerndambauen.de">file.dauerndambauen.de</a></th><th><a href="https://filebrowser.org/">File Browser</a></th></tr>
                </table>
            </p>
            The services offered by me are only intended for me, friends and family and it is not intended or wanted by me if these services (except <a href="https://www.dauerndambauen.de/">this website</a>) are used by other people who are not me. For all persons (except me) all services are completely free of charge and relatively safe to use. All data is both processed and stored in Germany.
             <p>The entire www.dauerndambauen.de-Seite is opensource on <a href="https://github.com/DauerndamProgrammieren/dauerndambauenWeb">Github</a></p><p>
                If I have made any mistakes in this text or anywhere else, please report them to me. You can find ways to do this on the Contact Page. Thank you in advance.
            </p>
            Since this website and all services are published by a private person and are not used for commercial purposes, no imprint is required. 
            </div>
        </div>
    </main>
</body>
</html>