<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/core/app.js"></script>
    <link rel="stylesheet" href="/components/index/style.css">
</head>
<body>
    <div>
        <!-- rect: logo-background -->
        <div class="shape rect logobackg-3e6b4fd2fa51" style="overflow: hidden;"><img src="/assets/images/logo-background.jpg" height="632px"></div>
    </div>
    <script type="module" src="/components/index/handy.js"></script>
</body>
</html>