<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/core/app.js"></script>
    <link rel="stylesheet" href="/components/index/style.css">
</head>
<body>
    <div class="index-flex">
        <div>
            <div style="height: 50px;"></div>
            <div class="shape text hi-im-dau-3e6825534346"><div class="hi-im-dau-h1">Hi I'm Dauerndambauen</div></div>
            <div style="height: 60px"></div>
            <div class="shape text hi-im-dau-3e6825534346"><div class="hi-im-dau-h2">ABOUT Me<p></p>
            Hi I'm <b>Dauerndambauen</b>, Hobby Fullstack Software Developer from Germany. Besides coding my favourite hobby is sailing.</div></div>
            <div style="height: 50px"></div>
            <div class="hi-im-dau-but"><div class="hi-im-dau-but-txt">My Projects</div></div>
        </div>
        <!-- rect: logo-background -->
        <div class="shape rect logobackg-3e6b4fd2fa51" style="overflow: hidden;"><img src="/assets/images/logo-background.jpg" height="632px"></div>
    </div>
    <div class="projects-back">
        <div class="projects-title">My Projects</div>
        <div class="projects-flex">
            <div class="projects-div"><div style="padding: 20px;"><b>Open house day 2024 online escape room from the ASG</b><p></p>Open house day 2024 online escape room from the ASG Passau</div>
        <a href="https://escape.asg-passau.de/"><button class="projects-but">PLAY!</button></a></div>
        </div>
    </div>
    <script type="module" src="/components/index/handy.js"></script>
</body>
</html>