@import "/utils/color.css";

#mainindex{
    display: flex-reverse;
    flex-wrap: wrap-reverse;
    padding: 10px;
    row-gap: 10px;
    column-gap: 20px;
}




.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* logo-background */
.logobackg-3e6b4fd2fa51 {
    position: relative;
    margin-top: -85px;
  left: 1077px;
  top: 0px;
  width: 843px;
  height: 632px;
  border-radius: 0px 0px 0px 300px;
}