@import "/utils/color.css";

#mainindex{
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    row-gap: 20px;
}

#orange-boat{
    border-radius: 20px;
}

#projects-list{
    overflow: scroll;
    background-color: #535c91;
    padding: 10px;
    border-radius: 20px;
}