<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/footer/style.css">
</head>
<body>
    <div id="footer-div"><div class="footer-flex">
        <a href="https://www.dauerndambauen.de"><img src="/assets/images/303113_a logo for an nextcloud cloud instance with a tree_xl-1024-v1-0.png" alt="dauerndambauen logo" width="50px"></a>
        <div id="footer-address">www.dauerndambauen.de</div>
        <div><button class="footer-button">Privacy</button><div style="width: 1%;"></div><button class="footer-button">Contact</button></div>
        
        </div><p></p><div id="footer-version">alpha V-0.2</div>
    </div>
</body>
</html>