@import "/assets/styles/main.css";

#footer-div{
    background-color: #1b1a55;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    width: 99.9%;
}

#footer-address{
    color: #ffea00;
    font-size: small;
    margin-left: 3px;
    margin: auto;
}

.footer-button{
    margin-top: 5px;
    color: white;
    background-color: #535c91;
    border: #9290c3 solid 2px;
    border-radius: 30px;
    transition-duration: 1s;
    margin-left: auto;
}

.footer-button:hover{
    color: #ffea00;
    background-color: #9290c3;
    border: #535c91 solid 2px;
}

#footer-version{
    color: #535c91;
    font-size: small;
    padding: 10px
}

.footer-flex{
    padding:10px;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
}