@import "/assets/styles/main.css";

#footer-div{
    background-color: #C92A2A;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    width: 99.9%;
}

#footer-address{
    color: #FFE3E3;
    font-size: small;
    margin-left: 3px;
    margin: auto;
}

.footer-button{
    margin-top: 5px;
    color: white;
    background-color: #FF8787;
    border: #FA5252 solid 2px;
    border-radius: 30px;
    transition-duration: 1s;
    margin-left: auto;
}

.footer-button:hover{
    color: #ffea00;
    background-color: #FA5252;
    border: #FF8787 solid 2px;
}

#footer-version{
    color: #FF8787;
    font-size: small;
    padding: 10px
}

.footer-flex{
    padding:10px;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
}