<html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webspaces/schule/Wissenschaftswoche/components/header/style.css">
    <script src="/webspaces/schule/Wissenschaftswoche/components/header/script.js"></script>
</head>
<body>
    <div class="header-background">
        <h1 class="header-title">Das Klima Europas im Wandel</h1>
        <div class="header-buttonspace">
            <button class="header-button" id="ubersicht">Übersicht</button>
            <button class="header-button" id="q1">GCM vs RCM</button>
            <button class="header-button" id="q2">Klimaentwicklung Vergangenheit</button>
            <button class="header-button" id="q3">Klimaschutz</button>
            <button class="header-button" id="Burgstaller">Klima Entwicklung Zukunft</button>
            <div style="width: 100px;"></div>
        </div>
    </div>
</body>
</html>