.header-background{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    flex-wrap: wrap;
}

.header-title{
    color: rgb(255, 255, 255);
    padding: 10px;
}

.header-buttonspace{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.header-button{
    padding: 5px;
    border-color: white;
    border-radius: 20px;
    color: white;
    transition: 1s;
    min-width: 19%;
    background-color: black;
    border-style: solid;
}

.header-button:hover{
    color: black;
    background-color: white;
}